/* Variables has fallback values to keep it readable even in IE */

:root {
  --pink: #e01155;
  --brown: #9d8745;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

@font-face{
    font-family: "Avenir";
    src: url("../fonts/avenir.eot?#iefix");
    src: url("../fonts/avenir.eot?#iefix") format("eot"),
      url("../fonts/avenir.woff2") format("woff2"),
      url("../fonts/avenir.woff") format("woff"),
      url("../fonts/avenir.ttf") format("truetype"),
      url("../fonts/avenir.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

html {
  font-size: 14px;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  padding: 2rem 7.5rem 0 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__facebook {
  position: fixed;
  top: 0;
  right: 0;
  padding: 3rem;
}

.menu-button {
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  padding: 2rem;
  box-sizing: content-box;
  background: transparent url('../img/menu-open.png') center center no-repeat;
}

.menu-button.opened {
  background-image: url('../img/menu-close.png');
}

h1 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  color: #9d8745;
  color: var(--brown);
  letter-spacing:0.35em;
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  letter-spacing: 0.1em;
  max-width: 55rem;
  margin: 0 auto 1rem;
  line-height: 1.6;
}

.brown {
  color: #9d8745;
  color: var(--brown);
}

.title {
  color: white;
  font-family: Avenir;
  font-size: 2rem;
  letter-spacing: 0.3em;
}

.title span {
  white-space: nowrap;
}

.subtitle {
  color: #9d8745;
  color: var(--brown);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 1rem;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.285rem;
  text-transform: uppercase;
  border-top: 4px solid transparent; /* rgba(224, 17, 85, 1) */
  padding: 0.3rem 0.5rem;
  line-height: 50px;
  color: #999997;
}

.menu li a:hover {
  color: #414141;
}

.menu li a.active {
  color: #9d8745;
  color: var(--brown);
  border-top: 4px solid rgba(224, 17, 85, 1);
}

.side-panel {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.side-panel__bullet {
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  background: #e01155;
  background: var(--pink);
  margin: 7rem 4rem;
  border-radius: 50%;
  border: 1px solid var(--brown);
}

.side-panel__bullet:hover {
  background: var(--brown);
}

.side-panel__bullet.active {
  background: var(--brown);
  position: relative;
}

.side-panel__bullet.active::after {
  position: absolute;
  display: block;
  content: ' ';
  border: 1px solid var(--pink);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  top: -0.55em;
  left: -0.5rem;
}

.parallax1 {
  background: black url('../img/bg_home.png') center top no-repeat;
}

.parallax2 {
  background: white url('../img/bg_products.png') center top no-repeat;
}

.parallax1, .parallax2 {
	background-size: 100%;
  background-attachment: fixed;
}

section#home {
  height: 64rem;
  text-align: center;
  padding: 27rem 20px;
}

.home__motto {
  color: #e01155;
  color: var(--pink);
  font-size: 1.714rem;
  font-style: italic;
  letter-spacing: 0.45em;
  text-transform: uppercase;
  font-weight: bold;
}

section#o-nas {
  text-align: center;
  color: white;
  padding-bottom: 10rem;
  padding-top: 3rem;
}

section#o-nas h2 {
  color: white;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 36rem;
  margin: 5rem auto 0;
  padding: 0 20px;
}

.properties {
  display: flex;
  background: black;
  color: white;
  text-transform: uppercase;
}

.property {
  flex: 0 0 33.33%;
}

.property__content {
  margin: 9rem auto;
  width: calc(100px + 15.5rem);
}

.property--pink {
  background-color:rgba(149, 11, 57, 1);
}

.property__image {
  float: left;
}

.property__title, .property__description {
  padding-left: 120px;
}

.property__title {
  color: #9d8745;
  color: var(--brown);
  font-size: 1.3rem;
  letter-spacing: 0.2em;
  font-style: italic;
  margin-bottom: 1rem;
}

.property__title::before {
  content: ' ';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background: #e01155;
  background: var(--pink);
  border-radius: 50%;
  vertical-align: middle;
}

.property__description {
  letter-spacing: 0.2em;
  line-height: 1.6;
}

.property__description::after {
  content: ' ';
  height: 2px;
  width: 22px;
  background: var(--brown);
  display: block;
  margin-top: 1rem;
}

section#produkty {
  text-align: center;
  background: linear-gradient(to bottom, black 70%, transparent 70%);
  padding-top: 7rem;
}

.products-headline {
  display: inline-block;
  letter-spacing: 1em;
  margin-bottom: 5rem;
}

.pinky-link {
  display: inline-block;
}

.pinky-link::after {
  content: ' ';
  height: 2px;
  width: 22px;
  background: #e01155;
  background: var(--pink);
  display: block;
  margin-top: 1rem;
}

.products-images {
   background: linear-gradient(to bottom, black 70%, transparent 70%);
}

.products-images img {
  display: inline-block;
  margin: 0 0.3rem;
}

.products-descriptions {
  text-align: center;
  text-transform: uppercase;
  color: #414141;
  font-size: 1.05rem;
}

.products-descriptions img {
  margin: 10rem auto 1rem;
  display: block;
}

.products-descriptions h2 {
  margin: 1rem auto;
}

.products-description__subtitle {
  display: inline-block;
  margin: auto;
  background: black;
  color: #E8E6E6;
  margin-bottom: 2rem;
  letter-spacing: 0.15em;
  padding: 0 0.5rem;
}

.products-descriptions p {
  margin-bottom: 0;
}

.products-descriptions p + p::before {
  content: '•';
  display: block;
  color: rgb(190, 176, 137);
}

.circles {
  display: flex;
  margin: 7rem auto 0;
  justify-content: center;
  padding-bottom: 10rem;
}

.circle {
  height: 26px;
  width: 26px;
  background: #e01155;
  background: var(--pink);
  border-radius: 50%;
  margin: 0 5px;
}

.circle:last-child {
  background: var(--brown);
}

section#kontakt {
  background: black;
  text-align: center;
  padding-top: 7rem;
  color: #9d8745;
  color: var(--brown);
}

section#kontakt h2 {
  letter-spacing: 0.6em;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  text-align: left;
}

.address {
  margin-right: 3rem;
}

.contact-button {
  color: #9d8745;
  color: var(--brown);
  text-decoration: none;
  display: inline-block;
  border: 2px solid var(--brown);
  padding: 0.5rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-button:hover {
  color: black;
  background: var(--brown);
}

.people {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;
  padding: 5rem 0;
  justify-content: center;
}

.card {
  width: 33%;
  min-width: 250px;
  box-sizing: border-box;
  padding-left: 1.5rem;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 7rem;
  position: relative;
  z-index: 1;
}

.card__image-shadow-wrap {
  max-width: 180px;
  box-shadow: inset 0px 0px 24px 12px rgba(0,0,0,0.9);
  border-radius: 90px;
}

.card__image {
  display: block;
  height: 180px;
  width: auto;
  border-radius: 90px;
}

.card__image--purple {
  filter: sepia(1) brightness(60%) contrast(200%) hue-rotate(270deg);
  position: relative;
  z-index: -1;
}

.card__image--beige {
  filter: sepia(1) brightness(60%) contrast(200%) hue-rotate(10deg);
  position: relative;
  z-index: -1;
}

.card__title {
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 0.35em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 0 0.5rem;
}

.card__name {
  letter-spacing: 0.25em;
  font-size: 16px;
  line-height: 1.3;
  font-style: italic;
  padding-bottom: 3.5rem;
}

.card__name span {
  text-transform: uppercase;
}

.card__contacts {
  border-left: 6px solid #e01155;
  border-left: 6px solid var(--pink);
  letter-spacing:0.35em;
  font-size: 11px;
  line-height: 1.8;
  text-transform: uppercase;
}

.card__mail {
  color: #9d8745;
  color: var(--brown);
  text-decoration: none;
  display: block;
}

.card__mail:before, .card__phone:before {
  display: inline-block;
  content: 'E';
  padding: 0 5px 0 14px;
  color: white;
  font-weight: bold;
}

.card__phone:before {
  content: 'T';
}

footer {
  color: #695A2E;
  letter-spacing: 0.1em;
  background: black;
  border-top: 2px solid rgba(157, 135, 69, 0.3);
  text-align: center;
  padding: 3.5rem 0;
  font-size: 1.05rem;
}

@media (min-width: 1001px) {
  .menu {
    display: flex !important;
  }
}

@media (max-width: 1000px) {
  .parallax1 {
    background-size: cover !important;
    background-position: center top !important;
  }
  .parallax2 {
    background-size: auto !important;
    background-position: center top !important;
  }

  .header__facebook, .side-panel {
    display: none;
  }
  header {
    position: absolute;
  }
  .menu-button {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.95);
    z-index: 1;
    padding: 10rem;
  }
  .menu li {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  .menu li a {
    color: #e01155;
    color: var(--pink);
    font-weight: normal;
  }
  .menu li a.active {
    border: none;
  }

  .properties {
    flex-direction: column;
  }

  p, h2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  img {
    max-width: 100%;
  }

  .contact-form {
    padding: 0 10px;
  }

  .address {
    margin: 0;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
